<ion-header>
  <ion-toolbar>
    <ion-title>eventos</ion-title>
    <div class="menu" >
    <a  routerLink="/home">home </a>
    <a routerLink="/agendas">agenda </a>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input type= nome>Digita seu nome do evento</ion-input>
<ion-input type= date> Data:</ion-input>
<ion-input type= time>horas:</ion-input>
<ion-label>lembrete
<ion-checkbox color="dark"></ion-checkbox></ion-label>
<ion-textarea rows="6" cols="20" placeholder="messagem"></ion-textarea>
  <ion-button color="primary">Cradastrar</ion-button>
</ion-content>
